<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {{ template "_header" }}
</head>
<body class="text-center text-green-400">
    Hi, this is the base template.
    {{ if . }}
        <h1 class="bold text-3xl">Hello, {{ . }}</h1>
    {{ end }}
</body>
</html>